.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide{
 height: 300px !important;
}
.swiper-slide p{
font-size: 1rem !important;
}
.rcard-user-area img {
  height: 3rem;
}

.course-name img {
  height: 3rem;
}
.border-top {
  border-top: 1px solid var(--grey-400);
}
